<h2>{{question.text}} {{question.author}} {{question.notes}}</h2>
<br>
<ul>
	{{#each question.answers as |answer|}}
		<li>{{answer.reply}}
		{{answer.author2}}</li>
	{{/each}}
</ul>



<button {{action 'delete' question}}>Delete</button>
