<h2>{{question.text}} </h2> <h4>Author: {{question.author}}</h4> <p>Notes: {{question.notes}}</p>
<p>Price: {{icon question}} </p>
<p>Lowest Item on the menu: $ {{question.price}}</p>
<br>
<h4>Answers:</h4>
<ul>
	{{#each question.answers as |answer|}}
		<li> {{answer.reply}}<br>  -
		{{answer.author2}}</li>
	{{/each}}
</ul>

<button {{action 'delete' question}}>Delete</button>
