<h2>{{model.author}} {{model.text}} {{model.notes}}</h2>
{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}


{{new-answer saveAnswer2="saveAnswer3" question=model}}
