<h2>{{model.author}} {{model.text}} {{model.notes}}</h2>

{{update-question question=model update="update"}}

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{new-answer saveAnswer2="saveAnswer3" question=model}}
